@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/GT WALSHEIM REGULAR-NORMAL-400-100.TTF');
}

@font-face {
    font-family: 'GTWalsheim2';
    src: url('../fonts/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf');
}

.view_button, .plus, .view_button2 {
    background-color: #16ECD3;
    color: #000;
    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: GTWalsheim2, regular;
    cursor: pointer;
    margin-top: 10px;
    width: 190px;
    height: 45px;
    transition: all 0.3s ease;
}

.view_button:hover, .view_button2:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.button, .hamburger {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.button:hover,.buttonConnect:hover, .hamburger:hover {
    background-color: #fff;
    color: #000;
}

.buttonConnect  {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.hamburger {
    padding: 6px;
}

.hamburger:hover img, .plus:hover {
    filter: invert(1);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #292929;
}

body::-webkit-scrollbar-thumb  {
    background: rgba(17, 17, 17, 0.5);
    border-radius: 20px;
}

.popup::-webkit-scrollbar {
    width: 10px;
}

.popup::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup::-webkit-scrollbar-thumb {
    background: rgba(54, 54, 54, 0.5);
    border-radius: 20px;
    margin-right: 10px;
}

.dropdown-menu-hamburger a, .dropdown-menu-hamburger2 a{
            padding: 5px;
        }

        .dropdown-menu-hamburger a:hover, .dropdown-menu-hamburger2 a:hover {
            background-color: #ddd;
            color: black;
            border-radius: 5px;
        }

.dropdown-menu-vote a, .dropdown-menu-search a {
    padding: 5px;
}

.dropdown-menu-vote a:hover, .dropdown-menu-search a:hover {
background-color: #ddd; 
color: black; 
border-radius: 5px;
}


.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 13px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 0;
  background-color: rgb(15, 216, 15);
  transition: width 0.2s;
}

.progress-bar-fill.red {
  background-color: red;
}

.rangeIncentive::-webkit-inner-spin-button,
.rangeIncentive::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.rangeIncentive {
-moz-appearance: textfield;
}

.view_more_button {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    padding: 0px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: GTWalsheim2, regular;
    cursor: pointer;
    height: 30px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.view_more_button:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}
