
*{
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
  }

body{
    color: #ffffff;
    background-color: #151515;
    position: relative;
    margin:0px;
    padding:0px;
    padding-bottom: 80px;
    min-height: 89vh;

}

a.info{
    color: #3b079d;
    text-decoration: none;
}

p.info{
    font-size: normal;
    font-weight: bold;
    
}

h1{
    font-size: 20px;
    padding-top: 0px;
}

h1.info{
    color: black;
    padding-top: 15px;
}

h1.connect{
    padding-left: 25px;
    padding-right: 25px;
}

footer{
    background-color: #636262;
    height: 50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -0.4%;
    text-align: center;
}

.footertext{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.8%;
    font-weight: bold;
}

a.footertext{
    color: #ffffff;
    text-decoration: none;
}

a.link{
    font-family: 'Roboto', sans-serif;
    color: greenyellow;
    text-decoration: none;
}

.e{
    padding: 0;
    margin: 0;
    width: 2%;
}

.div-center{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17%;
    border: #ffffff solid 4px;
    border-radius: 30px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #494949;
    padding-bottom: 20px;
}

.div-center.Crowdsale{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
    border:#494949 solid 4px;
    border-radius: 30px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #494949;
    max-height: 30px;
}

.div-center.info{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 6%;
    text-align: center;
    padding: 30px;
    background-color: #00AE33;
    border: #494949 solid 4px;
    
}

.dapp-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: top;
    background-color: #00AE33;
    position: relative;
    min-width: 410px;
    min-height: 300px;
    max-width: 10%;
    max-height: 10%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 30px;
    padding-top: 4%;
    border: #1B3A16 solid 6px;
    border-radius: 20px;

}

.dapptop{
    position: absolute;
    padding-top: 4%;
    text-align: center;
    top: -2px;
    left: 0px;
    background-color: #494949;
    font-size: 20px;
    font-weight: bold;
    max-height: 40px;
    min-height: 40px;
    width: 470px;
    border-radius: 6px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.csinfo{
    display: flex;
    color: black;
    width: fit-content;
    flex-direction: column;
    align-self: left;
    font-size: large;
    font-weight: bold;
    margin-top: 5%;
    padding: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border: black solid 3px;
    border-radius: 40px;
    background-color: #32EA68;
    box-shadow: 3px 4px 6px black;
    white-space: nowrap;
}

.dappcontainer{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.div-center.connect{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 17%;
    border:#126CC3 solid 4px;
    border-radius: 30px;
    margin-left: 18%;
    margin-right: 18%;
    background-color: #494949;
    height: 135px;
}

.logo{
    width: 3.5%;
    padding-right: 20px;
    margin-left: 1.75%;
    cursor: pointer;
}

.menu{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    padding: 7px;
    padding-left: 27px;
    white-space: nowrap;
}

.Minactive{
    text-decoration: none;
    float: left;
    font-size: medium;
    color: white;
    margin-left: 3%;
    margin-right: 0%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.Minactive:hover{
    color: #05af33;
    cursor: pointer;
}

.Mactive{
    text-decoration: none;
    float: left;
    font-size: medium;
    color: white;
    margin-left: 3%;
    margin-right: 0%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: #3c3c3c;
    border: #3c3c3c solid 2px;
    border-radius: 20px;
    cursor: pointer;
}

.wallet{
    background-color: #05af33;
    position: absolute;
    font-size: medium;
    cursor: pointer;
    font-weight: bolder;
    padding: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: #1a3b15 solid 3px;
    border-radius: 30px;
    margin-left: 88%;
}

.wallet.middle{
    margin-left: 0%;
    margin-top: 5.6%;
}

.overlay {
    position: fixed;
    display: block; 
    margin-top: 5.6%;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.754);
    z-index: 2; 
    cursor: pointer;
  }

  