
body{
    color: #ffffff;
    background-color: #151515;

}

.div-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    border: #ffffff solid 4px;
    border-radius: 30px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #126CC3;
    padding-bottom: 20px;
}

nav{
 
}

.logo{
    width: 3%;
    padding-right: 30px;
}

.menu{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    padding: 7px;
    padding-left: 40px;
    white-space: nowrap;
}

.Minactive{
    text-decoration: none;
    font-size: medium;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.Mactive{
    text-decoration: none;
    font-size: medium;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: #126CC3;
    border: #126CC3 solid 2px;
    border-radius: 20px;
}

.wallet{
    cursor: pointer;
    float: right;
    padding-left: 45%;

}