
body{
    color: #ffffff;
    background-color: #151515;

}

.div-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    align-items: center;
    margin: 20%;
    border: #ffffff solid 4px;
    border-radius: 30px;
}